<%- include('./partials/header') %> <% if (success && success.length > 0) { %>
<div
  class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500"
>
  <span class="inline-block mt-1 mb-1 text-white"> <%= success %> </span>
</div>
<% } %>

<div class="w-full h-screen flex items-start px-20 py-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex items-center gap-2">
      <h3>Sort by</h3>
      <form action="/shop" method="get">
        <select class="border-[1px] px-2 py-1" name="sortby">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
        <button type="submit" class="hidden">Sort</button>
      </form>
    </div>
    <div class="flex flex-col mt-20">
      <a class="block w-fit mb-2" href="">New Collection</a>
      <a class="block w-fit mb-2" href="">All Products</a>
      <a class="block w-fit mb-2" href="">Discounted Products</a>
    </div>
    <div class="mt-32">
      <a class="block w-fit mb-2" href="">Filter by :</a>
      <a class="block w-fit mb-2" href="">Availability</a>
      <a class="block w-fit mb-2" href="">Discount</a>
    </div>
  </div>

  <div class="w-[75%] flex flex-col gap-5 h-screen">
    <div class="flex items-start gap-5">
      <% if (products && products.length > 0) { %> <%
      products.forEach(function(product) { %>
      <div class="w-60">
        <div
          class="w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor%>]"
        >
          <img
            class="h-[12rem]"
            src="/products/images/<%= product._id %>"
            alt="<%= product.name %>"
          />
        </div>
        <div
          class="flex justify-between p-4 text-[<%= product.textcolor %>] bg-[<%=product.panelcolor %>]"
        >
          <div>
            <h3><%= product.name %></h3>
            <h4>₹ <%= product.price %></h4>
          </div>
          <a
            class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
            href=""
          >
            <i class="ri-add-line"></i>
          </a>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>No products available</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
