<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-10">
        <a href="/" class="text-blue-500">Back to Home</a>
      </div>
      <form action="">
        <h1 class="text-3xl tracking-tighter mb-3">Read All Users</h1>
        <div class="users flex gap-3 flex-wrap">
          <% if (allUsers.length > 0) { %> <% allUsers.forEach(function (user) { %>
          <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-48 rounded-lg bg-red-400 overflow-hidden">
              <img
                class="w-full h-full object-cover"
                src=<%= user.image  %>
              alt="image" />
            </div>
            <h3 class="text-xl mt-3 tracking-tighter"><%= user.name %></h3>
            <h5 class="text-zinc-400"><%= user.email %></h5>
            <div class="flex gap-3 mt-10">
              <a href="/edit/<%= user._id  %>" class="text-blue-500">Edit User</a>
              <a href="/delete/<%= user._id  %>" class="text-red-500"
                >Delete User</a
              >
            </div>
          </div>
          <% }) %>
        <% } else { %>
            <h3 class="mt-10 text-3xl text-red-400 text-center">No Users Yet</h3>
            <% } %>
        </div>
      </form>
    </div>
  </body>
</html>
